<h1>Edit flight</h1>
<%= form_with model: @flight do |f| %>
    <div class="field">
    <%= f.label :flight_name%><br />
    <%= f.text_field :flight_name%>
   </div>
   <div class="field">
    <%= f.label :flight_number%><br />
    <%= f.text_field :flight_number%>
   </div>
    

    <div class="field">
    <%= f.label :arrival_time%><br />
    <%= f.text_field :arrival_time%>
   </div>

    <div class="field">
    <%= f.label :departure_time%><br />
    <%= f.text_field :departure_time%>
   </div>

   <div class="actions">
    <%= f.submit :submit%>
    </div>


 <% end %>
 <%# <%= link_to "Show",edit_flight_path(@flight) %> 