<h1>Show the flight</h1>
<h1><%= @flight.flight_name %></h1>

<p><%= @flight.flight_number %></p>
<p><%= @flight.arrival_time %></p>
<p><%= @flight.departure_time %></p>

<ul>
    <li><%= link_to "Home", flights_path %> </li>
  <li><%= link_to "Edit", edit_flight_path(@flight) %></li>
  <li><%= link_to "Destroy", flight_path(@flight), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure fo cancleation?"
                  } %></li>
</ul>
