<h1>Edit managed _flight page</h1>
<%= form_with(model: @manager) do |form| %>
  
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true %>
    </div>
    <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true %>
  </div>
  <div>
    <%= form.label :phone_number%>
    <%= form.text_field :phone_number, required: true %>
  </div>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address, required: true %>
  </div>

  <div>
   <%= form.submit 'Create manager' %>
  </div>
<% end %>
  <%= link_to "show" , manager_path(@manager) %>