<h1>Edit Page</h1>
<%= form_with model: @schedule do |form| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :Flight_Name %>
    <%= form.text_field  :flight_name %>
  </div>

  <div class="field">
    <%= form.label :Port_Number %>
    <%= form.text_field  :port_number %>
  </div>

  <div class="field">
    <%= form.label :flight_id %>
    <%# <%= form.collection_select :flight_id, @flights, :id, :name %> 
    <%= form.select :flight_id, options_for_select(Flight.all.map {|flight| [flight.id]}, form.object.id) %> 

  </div>

  <div class="field">
    <%= form.label :port_id %>
    <%# <%= form.collection_select :port_id, @ports, :id, :name %>
    <%= form.select :port_id, options_for_select(Port.all.map {|port| [port.id]}, form.object.id) %> 

  </div>

  <div class="field">
    <%= form.label :arrival_time %>
    <%= form.datetime_local_field :arrival_time %>
  </div>

  <div class="field">
    <%= form.label :departure_time %>
    <%= form.datetime_local_field :departure_time %>
  </div>

  <div>
    <%= form.submit "Update Schedule" %>
  </div>
<% end %>

<%= link_to "Back", schedules_path %>